<?xml version="1.0"?>
<launch>
<arg name="multi_robot_name" default=""/>


    <arg name="rviz_config_file" default="$(find robot_description)/config/robot.rviz"/>
  <arg name="model" />
  <!-- <param name="robot_description" textfile="$(find final)/urdf/assem4.urdf" /> -->
  <param name="robot_description" textfile="$(find robot_description)/urdf/robot.urdf" />    

  <!-- send fake joint values -->

  <!-- Show in Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config_file)"/>
  
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    <param name="use_gui" value="true"/>
  </node>
  
  <!-- Combine joint values -->
<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="10.0" />
    <param name="tf_prefix" value="$(arg multi_robot_name)"/>
  </node>  
</launch>

